**IMPORTING MODULE OR PACKAGE**

In [47]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import kagglehub
import pandas as pds

In [48]:
# Download latest version
path = kagglehub.dataset_download("vijayuv/onlineretail")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\faiz\.cache\kagglehub\datasets\vijayuv\onlineretail\versions\1

In [49]:
pd = pd.read_csv(path + "/OnlineRetail.csv", encoding="ISO-8859-1")
pd.head()
#

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [50]:
pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [51]:
pd.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [52]:
# Cara 1: Menggunakan nunique()
jumlah_pelanggan = pd['CustomerID'].nunique()
print(f"Jumlah pelanggan unik: {jumlah_pelanggan}")

# Cara 2: Menggunakan len() dan unique()
jumlah_pelanggan_2 = len(pd['CustomerID'].unique())
print(f"Jumlah pelanggan unik (metode 2): {jumlah_pelanggan_2}")

# Cara 3: Menggunakan value_counts()
jumlah_transaksi_per_pelanggan = pd['CustomerID'].value_counts()
print("\nDistribusi jumlah transaksi per pelanggan:")
print(jumlah_transaksi_per_pelanggan.head())

Jumlah pelanggan unik: 4372
Jumlah pelanggan unik (metode 2): 4373

Distribusi jumlah transaksi per pelanggan:
CustomerID
17841.0    7983
14911.0    5903
14096.0    5128
12748.0    4642
14606.0    2782
Name: count, dtype: int64

In [53]:
# Verifikasi
print("Jumlah NaN per kolom setelah pembersihan:")
print(pd.isnull().sum())

Jumlah NaN per kolom setelah pembersihan:
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [54]:
# Verifikasi sebelum pembersihan
print("Sebelum pembersihan: baris =", len(pd))

# Hapus baris yang memiliki NaN pada kolom CustomerID langsung di pd
pd.dropna(subset=['CustomerID'], inplace=True)

# Jika ingin menghapus semua baris yang mengandung NaN di mana pun, gunakan:
# pd.dropna(inplace=True)

print("Setelah pembersihan (dropna pada CustomerID): baris =", len(pd))

# Verifikasi jumlah NaN per kolom
print("\nJumlah NaN per kolom setelah pembersihan:")
print(pd.isnull().sum())

Sebelum pembersihan: baris = 541909
Setelah pembersihan (dropna pada CustomerID): baris = 406829

Jumlah NaN per kolom setelah pembersihan:
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [55]:
def _find_dataframe():
    g = globals()
    if 'df' in g and isinstance(g['df'], pds.DataFrame):
        return g['df']
    if 'pd' in g and isinstance(g['pd'], pds.DataFrame):
        return g['pd']
    for name, val in g.items():
        if isinstance(val, pds.DataFrame):
            print(f"Using DataFrame from variable '{name}'")
            return val
    raise RuntimeError('Tidak menemukan DataFrame di environment. Pastikan dataset telah dimuat.')

df = _find_dataframe()

In [56]:
# Ganti sesuai CustomerID yang ingin dicek
customer_id = 17850.0

# Pastikan kolom numeric benar dan buat kolom TotalPrice
df['Quantity'] = pds.to_numeric(df['Quantity'], errors='coerce').fillna(0)
df['UnitPrice'] = pds.to_numeric(df['UnitPrice'], errors='coerce').fillna(0)
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

cust_df = df[df['CustomerID'] == customer_id].copy()

if cust_df.empty:
    print(f"Tidak ada data untuk CustomerID = {customer_id}")
else:
    total_spent = cust_df['TotalPrice'].sum()
    unique_items = cust_df['Description'].nunique()
    unique_invoices = cust_df['InvoiceNo'].nunique() if 'InvoiceNo' in cust_df.columns else 'N/A'

    print(f"CustomerID: {customer_id}")
    print(f"Total transaksi (InvoiceNo unik): {unique_invoices}")
    print(f"Jumlah jenis barang yang dibeli (unik): {unique_items}")
    print(f"Total yang dihabiskan: {total_spent:.2f}\n")

    items_summary = (
        cust_df.groupby('Description', dropna=False)
        .agg(total_quantity=('Quantity', 'sum'), total_spent=('TotalPrice', 'sum'))
        .sort_values('total_spent', ascending=False)
    )

    # Tampilkan semua atau gunakan .head(n)
    print(items_summary.head(50))

Tidak ada data untuk CustomerID = 17850.0